n8n/workflow_n8n_vectorstore.json
{
  "name": "SincroApp - Knowledge Manager",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        0
      ],
      "id": "trigger-chat",
      "name": "Upload Conhecimento",
      "webhookId": "sincroapp-knowledge-upload"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "data",
        "destinationKey": "data"
      },
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        460,
        -120
      ],
      "id": "binary-prep",
      "name": "Prepara Arquivo"
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryPropertyName": "data"
      },
      "type": "n8n-nodes-base.extractText",
      "typeVersion": 1,
      "position": [
        680,
        -120
      ],
      "id": "extract-text",
      "name": "Extrai Texto do MD"
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 100
      },
      "type": "langchain.textSplitterRecursiveCharacter",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ],
      "id": "text-splitter",
      "name": "Quebra Markdown (Chunking)"
    },
    {
      "parameters": {
        "mode": "insert",
        "supabaseCollection": {
          "__rl": true,
          "value": "sincroapp.knowledge_base",
          "mode": "name"
        },
        "options": {}
      },
      "type": "langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1340,
        0
      ],
      "id": "supabase-vector-store",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SUA_CREDENTIAL_ID_AQUI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "type": "langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ],
      "id": "openai-embeddings",
      "name": "Embeddings (OpenAI)",
      "credentials": {
        "openAiApi": {
          "id": "SUA_CREDENTIAL_ID_AQUI",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $binary.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "arquivo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -140,
        0
      ],
      "id": "check-input",
      "name": "Arquivo ou Texto?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM sincroapp.knowledge_base WHERE metadata->>'filename' = $1;",
        "options": {
          "queryParameter": "={{ $json.fileName || 'texto_manual_' + $json.chatId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        0
      ],
      "id": "clean-old-version",
      "name": "Limpa Vers達o Antiga (Supabase)",
      "credentials": {
        "postgres": {
          "id": "SUA_CREDENTIAL_ID_AQUI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Define o nome do arquivo para o metadado\nreturn {\n  json: {\n    ...$json,\n    fileName: $binary.data.fileName,\n    fileType: $binary.data.fileExtension\n  },\n  binary: $binary\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -120
      ],
      "id": "set-filename-file",
      "name": "Define Metadata (Arquivo)"
    },
    {
      "parameters": {
        "jsCode": "// Cria um nome virtual para textos manuais\nconst topic = $json.chatInput.substring(0, 20).replace(/[^a-zA-Z0-9]/g, '_');\nreturn {\n  json: {\n    text: $json.chatInput,\n    fileName: `manual_${topic}`,\n    source: 'chat_input'\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        140
      ],
      "id": "set-filename-text",
      "name": "Define Metadata (Texto)"
    }
  ],
  "connections": {
    "Upload Conhecimento": {
      "main": [
        [
          {
            "node": "Arquivo ou Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Arquivo": {
      "main": [
        [
          {
            "node": "Extrai Texto do MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Texto do MD": {
      "main": [
        [
          {
            "node": "Limpa Vers達o Antiga (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra Markdown (Chunking)": {
      "ai_textSplitter": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (OpenAI)": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Arquivo ou Texto?": {
      "main": [
        [
          {
            "node": "Define Metadata (Arquivo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Define Metadata (Texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa Vers達o Antiga (Supabase)": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Metadata (Arquivo)": {
      "main": [
        [
          {
            "node": "Prepara Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Metadata (Texto)": {
      "main": [
        [
          {
            "node": "Limpa Vers達o Antiga (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}